:root {
    --primary-text-color:rgba(67,68,85,1)
    --title-text-color:rgba(46,47,66,1)
    --accent-color:rgba(77,90,229,1)

}


body {
    color: #434455;
    background-color: #ffffff;
    
}
/* колір основного тексту #ffffff */

/* колір бекграунду ефектів солюжн #2E2F42 */

/* колір кнопки ордер сервіс #4D5AE5 */

/* колір заголовку що ми робимо #2E2F42 */

/* колір дрібного тексту #434455 */

/* колір бекграунду наша команда #F4F4FD */

/* колір бекграунду хедер #E7E9FC */

/* зясувати як зробити напис логотипу двома кольорами */
  .logo {
    color: var(--title-text-color); 
    color: var(--accent-color);
  }

  /* прибирає булети біля тексту */

  .list {
    list-style: none;
    }

   /* Site nav */

 
  .site-nav .link {
    color: var(--title-text-color);
    background-color:#E7E9FC;
    }
   
    /* Section */

 .section-title {
    color: var(--title-text-color);
   }

   /* Hero */

  .hero-title {
      color: #ffffff;
      background-color:var(--title-text-color);
  }

   /* Our values */

   .values .title {
       color: var(--title-text-color);
       
   }
